@media (min-width: 768px) {
    header {
        flex-wrap: nowrap;
    }

    #menu {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        width: auto;
        margin-top: 0;
    }

    nav a {
        border-top: none;
        border-left: 1px solid rgba(255,255,255,0.2);
    }
    nav a:first-child {
        border-left: none;
    }

    footer {
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }
}