@media (min-width: 768px) {
    #menu {
        display: none;
    }

    nav ul {
        display: flex;
        justify-content: center;
    }

    nav a {
        border-bottom: none;
        padding: 1rem 2rem;
    }

    main {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.5rem;
    }

    main h1 {
        grid-column: 1 / 3;
    }

    section:nth-of-type(4) {
        grid-column: 1 / 3;
    }

    #course-cards {
        grid-template-columns: repeat(3, 1fr);
    }
}